* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-container {
    margin-top: 100px;
}

.btn-container button {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 700;
    border: 2px solid black;
}

#container {
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.img {
    width: 100%;
}

.wraper {
    width: 300px;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wraper h2, h4, h4 {
    margin-left: 50px;
    margin-right: 50px;
}