* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 2fr;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.btn-container {
    margin-top: 100px;
    grid-row: 1;
}

.btn-container button {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 700;
    border: 2px solid black;
}

#container {
    grid-row: 2;
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
}

.img {
    width: 50%;
}

.wraper {
    width: 300px;
    margin: 2%;
}

.wraper h2, h4, h4 {
    margin-left: 50px;
    margin-right: 50px;
}

#pop {
    margin-top: 0px;
}